:root {
  --background-dark: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2023/10/16/15/23/pizza-8319463_960_720.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

header {
  background: var(--background-dark);
}

header > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 60px;
}

nav {
  display: flex;
  justify-content: center;
  height: 50px;
}

nav > button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  background: none;
  width: 90px;
  cursor: pointer;
}

nav > button:hover {
  transform: translateY(-10%);
}

.home,
.contact,
.menu-page {
  padding: 16px;
  margin: 16px;
  background: var(--background-dark);
}

.home >img,
.contact > img {
  width: 100%;
  height: auto;
}

.contact > h1,
.menu > h1 {
  color: white;
}

.home > h1 {
  margin-top: 16px;
  color: white;
}

.home > p,
.contact > p,
.menu > p {
  margin-top: 16px;
  color: white;
}

.menu-page > h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 32px;
}

.menus {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 16px;
}

.menu {
  padding: 16px;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.menu > img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}